# ---
# "Named Things"
# ---
human gene:
  is_a: gene
  represented_as: node
  preferred_id: ensembl
  input_label: ensembl
  properties:
    approvedSymbol: str
    approvedName: str
    biotype: str

mouse gene:
  is_a: gene
  represented_as: node
  preferred_id: ensembl
  input_label: mouse gene
  properties:
    targetInModel: str
    targetInModelMgiId: str
    targetFromSourceId: str

# otar has no Bioregistry entry
disease:
  represented_as: node
  preferred_id: [mondo, efo, hp, orphanet, otar, oba, ncit, doid, obi, ogms]
  input_label: [mondo, efo, hp, orphanet, otar, oba, ncit, doid, obi, ogms]
  properties:
    code: str
    name: str
    description: str
    ontology: str

drug:
  represented_as: node
  preferred_id: chembl
  input_label: chembl
  properties:
    name: str
    description: str

go term:
  is_a: biological entity # activity, process, or location
  represented_as: node
  preferred_id: go
  input_label: go
  properties:
    name: str

mouse phenotype:
  is_a: phenotypic feature
  represented_as: node
  preferred_id: mp
  input_label: mp
  properties:
    modelPhenotypeLabel: str
    targetFromSourceId: str
    targetInModelEnsemblId: str

# ---
# Associations
# ---

gene to disease association:
  represented_as: edge
  preferred_id:
    [
      affected pathway,
      somatic mutation,
      genetic association,
      literature,
      animal model,
      known drug,
      rna expression,
    ]
  input_label:
    [
      affected_pathway,
      somatic_mutation,
      genetic_association,
      literature,
      animal_model,
      known_drug,
      rna_expression,
    ]
  properties:
    literature: str[]
    score: double

gene to go term association:
  is_a: association
  represented_as: edge
  source: gene
  target: go term
  input_label: GENE_TO_GO_TERM_ASSOCIATION

gene to gene interaction:
  is_a: association
  represented_as: edge
  source: drug
  target: gene
  input_label: GENE_TO_GENE_INTERACTION
  properties:
    count: int
    scoring: double

drug to gene association:
  is_a: association
  represented_as: edge
  source: drug
  target: gene
  input_label: DRUG_TO_GENE_ASSOCIATION
  properties:
    count: int
    scoring: double

drug to disease association:
  is_a: association
  represented_as: edge
  source: drug
  target: disease
  input_label: DRUG_TO_DISEASE_ASSOCIATION