{% extends "open_targets/base.jinja" %}

{%- macro recursive_render_classes(class_info) %}
class {{ class_info.name }}({{ class_info.inherit_from }}):
    {% for attribute in class_info.late_attributes %}
    {{ attribute.name }}: {{ attribute.type }}
    {% endfor %}


{% for dependant in class_info.dependants %}
{{- recursive_render_classes(dependant) -}}
{% endfor %}
{% endmacro %}

{%- macro recursive_render_assignments(class_info) %}
{% for attribute in class_info.late_attributes %}
{{ class_info.name }}.{{ attribute.name }} = {{ attribute.value }}
{% endfor %}

{% for dependant in class_info.dependants %}
{{ recursive_render_assignments(dependant) }}
{%- endfor %}
{% endmacro %}

{%- block content %}
# ruff: noqa: D101
# type: ignore[generalTypeIssues]

from collections.abc import Sequence
from typing import Final

from open_targets.data.metadata.model import OpenTargetsDatasetFieldType
from open_targets.data.schema_base import Dataset, Field, MapField, ScalarField, SequenceField, StructField


{% for class_info in class_infos %}
{{- recursive_render_classes(class_info) -}}
{% endfor %}

{% for class_info in class_infos %}
{{- recursive_render_assignments(class_info) -}}
{% endfor %}
{% endblock %}